.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.employees,
.brth-list {
  display: flex;
  justify-content: space-around;
}
.employees {
  width: 60%;
}
.brth-list {
  width: 40%;
  border-left: 2px solid gainsboro;
}
.item-card {
  width: 200px;
}
.employees {
  margin-bottom: 25px;
}
.fullName {
  display: flex;
  justify-content: space-between;
}
.liItem {
  display: flex;
  justify-content: left;
}

.namesBlock { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.namesBlock-item {
  margin: 20px;
}


